footer {

  position: relative;
  z-index: 15;
  @include box-shadow(10px 10px 50px 25px rgba(0, 0, 0, 0.2));


  @media (max-width: 49em) {
    padding: 20px 0;

    > div {
      &.logo-container {
        text-align: center;
      }

      &:not(.logo-container) {
        display: none;
      }
    }
  }

}