<div class="content soft--top">

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-music"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Play tracks from your favorite sources</h3>
        <p class="flush--top soft-r--left">
          Tracks can be chosen and played from four of the biggest sources: YouTube, Soundcloud, Bandcamp, and Audiomack. This means you'll always be able to find that perfect track you're looking for.
        </p>
      </div>
    </div>
  </div>

  <div class="info-row text-right">
    <div class="row wrapper">
    <div class="col span-2-t show-mobile"><i class="icon-user-plus"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--right">Collaborate on playlists</h3>
        <p class="flush--top soft-r--right">
          You can add your friends as collaborators to your playlists at any time. This means they'll be able to add new tracks to your playlist, as well as provide input on track choices through collaborator-only voting and comments.
        </p>
      </div>
      <div class="col span-2-t hide-mobile"><i class="icon-user-plus"></i></div>
    </div>
  </div>

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-group"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Create with friends</h3>
        <p class="flush--top soft-r--left">
          Creating a group allows free collaboration among all members on playlists created within the group, and also provides a location to privately share and discuss new tracks.
        </p>
      </div>
    </div>
  </div>

  <div class="info-row text-right">
    <div class="row wrapper">
    <div class="col span-2-t show-mobile"><i class="icon-compass"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--right">Explore new music</h3>
        <p class="flush--top soft-r--right">
          Between collaboration, the easy-to-use tag system, and track sharing, discovering new music has never been easier. Always find the perfect music for the moment.
        </p>
      </div>
      <div class="col span-2-t hide-mobile"><i class="icon-compass"></i></div>
    </div>
  </div>

{{!--   <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-star"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Save and follow your favorites</h3>
        <p class="flush--top soft-r--left">
          While exploring and discovering you're sure to find new tracks, playlists, and users that you love. You have the option of following playlists, users, and groups to stay updated on any new additions. You can also star individual tracks to revisit later.
        </p>
      </div>
    </div>
  </div> --}}

  <div class="cta-section island text-center nudge--top">
    {{> cta }}
  </div>

  <div class="shadow"></div>

</div>
