<div class="content soft--top">

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-group"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Create playlists collaboratively</h3>
        <p class="flush--top soft-r--left">Once a playlist is created, the creator has the option of adding other users as 'collaborators'. All collaborators have the ability to add and remove tracks from the playlist, as well as provide feedback on tracks added by other collaborators through per-track upvotes, downvotes, and comments.</p>
      </div>
    </div>
  </div>

  <div class="info-row text-right">
    <div class="row wrapper">
    <div class="col span-2-t show-mobile"><i class="icon-plus"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--right">Choose songs from multiple sources</h3>
        <p class="flush--top soft-r--right">When searching for songs and adding them to your playlists, you have multiple sources to choose from including YouTube, Soundcloud, and Bandcamp. This nearly guarantees that you'll be able to find any song that you have in mind!</p>
      </div>
      <div class="col span-2-t hide-mobile"><i class="icon-plus"></i></div>
    </div>
  </div>

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-compass"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Discover new playlists and songs</h3>
        <p class="flush--top soft-r--left">
          At any time, you can search for new playlists by title or related tags. You can also view playlists that are 'Trending' to see what's popular right now.
          <br />
          You can also choose to 'Follow' both playlists and users, as well as 'Star' tracks. This allows you to remember those playlists and tracks that you liked, as well as get future updates on them!
        </p>
      </div>
    </div>
  </div>

  <div class="cta-section island text-center nudge--top">
    {{> cta }}
  </div>

  <div class="shadow"></div>

</div>