<div class="content soft--top">

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-group"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Sed porttitor ultrices ipsum</h3>
        <p class="flush--top soft-r--left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu rutrum tellus. Vivamus aliquam neque neque, nec consectetur enim vestibulum vitae. Vestibulum non lacinia ante. Mauris pellentesque, quam porta condimentum dictum, metus odio hendrerit ligula, vitae feugiat massa dui quis ante.
        </p>
      </div>
    </div>
  </div>

  <div class="info-row text-right">
    <div class="row wrapper">
    <div class="col span-2-t show-mobile"><i class="icon-plus"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--right">Duis non cursus enim</h3>
        <p class="flush--top soft-r--right">
          Sed porttitor ultrices ipsum, in gravida nisi pharetra eu. Nunc condimentum justo euismod erat lobortis, eu tempor sapien laoreet. Nulla quis felis ullamcorper, tincidunt dui ac, commodo enim. Nam luctus enim sit amet lorem molestie vestibulum.
        </p>
      </div>
      <div class="col span-2-t hide-mobile"><i class="icon-plus"></i></div>
    </div>
  </div>

  <div class="info-row text-left">
    <div class="row wrapper">
      <div class="col span-2-t"><i class="icon-compass"></i></div>
      <div class="col span-10-t">
        <h3 class="flush--top soft-r--left">Sed vitae urna laoreet</h3>
        <p class="flush--top soft-r--left">
          Duis non cursus enim, eget molestie augue. Duis mollis mattis auctor. Nam suscipit erat neque, a convallis mi semper et. Ut vitae vulputate nisl. Donec fermentum nisl et tempus placerat. Sed euismod metus in auctor cursus. Pellentesque dapibus, augue sed posuere laoreet, metus felis sodales lacus, euismod euismod diam leo a erat.
        </p>
      </div>
    </div>
  </div>

  <div class="cta-section island text-center nudge--top">
    {{> cta }}
  </div>

  <div class="shadow"></div>

</div>