<footer>
  <div class="logo-container">
    <img src="images/logo.png" class="logo" />
  </div>

  <div class="links-container">
    <ul>
      <li><a href="http://app.monolist.co">Explore</a></li>
      <li><a href="http://app.monolist.co/playlist">Playlists</a></li>
      <li><a href="http://app.monolist.co/groups">Groups</a></li>
      <li><a href="http://app.monolist.co/search">Search</a></li>
    </ul>
  </div>

  <div class="links-container">
    <ul>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="search-container"></div>
</footer>