<footer class="soft-half--ends text-left">
  <div class="wrapper">
    <div>
      Copyright &copy; <span class="year-span">2015</span> Monolist
    </div>
    <div style="text-align: right;">
      View on <a href="http://github.com/monolist" target="_blank">Github</a>
    </div>
  </div>
</footer>