<header>

  <div class="wrapper">
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <div class="text-right">
      <a href="http://app.monolist.co/register" class="btn nudge-half--right signup outline hidden">Sign Up</a>
      <a href="http://app.monolist.co/login" class="zeta">Login</a>
    </div>
  </div>

  <div class="shadow"></div>

</header>