<div class="hero">

  <div class="hero-container wrapper">
    <h1 class="headline flush--top nudge-quarter--bottom">Build playlists with your friends</h1>
    <h3 class="subheadline flush--top nudge--bottom light">Easily add songs from your favorite sources</h3>
    {{> cta }}
  </div>

  <img src="images/screenshot.png" class="screenshot" alt="Screenshot of Monolist application" />

  <div class="scroll-down-container">
    <i class="fa fa-arrow-down"></i>
  </div>

</div>