<div class="hero">

  <div class="hero-container wrapper">
    <h1 class="headline flush--top nudge-quarter--bottom">Music made social</h1>
    <h5 class="subheadline flush--top nudge--bottom light">Collaborate on playlists with tracks from your favorite sources</h3>
    <ul class="sources-list nudge--bottom">
      <li><i class="icon-soundcloud"></i></li>
      <li><i class="icon-youtube"></i></li>
      <li><i class="icon-bandcamp"></i></li>
    </ul>
    {{> cta }}
  </div>

  <img src="images/screenshot.png" class="screenshot" alt="Screenshot of Monolist application" />

  <div class="scroll-down-container">
    <i class="icon-arrow-down"></i>
  </div>

</div>