<div class="hero">

  <div class="hero-container wrapper">
    <h1 class="headline flush--top nudge-quarter--bottom">Lorem ipsum dolor sit amet</h1>
    <h5 class="subheadline flush--top nudge--bottom light">consectetur adipiscing elit. Ut eu rutrum tellus</h3>
    {{> cta }}
  </div>

  <img src="images/screenshot.png" class="screenshot" alt="Screenshot of Monolist application" />

  <div class="scroll-down-container">
    <i class="icon-arrow-down"></i>
  </div>

</div>